{% extends "base.html" %}
{% block content %}
<div class="container h-100 w-100 bg-white">
    <div class="p-4 h-100">
        <h1>
            Отправка изображения для распознания текста
        </h1>
        <form method=post enctype=multipart/form-data id="file_dropbox">
            <div class="file_dropbox rounded bg-light mx-auto p-3">
                <label for="file_input" class="form-label">Выберите или перетащите файл</label>
                <input class="form-control form-control-lg" type=file name=file
                    accept="image/png, image/jpeg, image/jpg, image/bmp" id="file_input" data-show-upload="true"
                    data-show-caption="true" required="required" title="Необходимо выбрать минимум один файл">
                <hr>
                <div class="mt-3 mb-3">
                    <label for="formGroupNetworkKind" class="form-label">Выберите архитектуру сети</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioAlexNet">
                        <label class="form-check-label" for="flexRadioAlexNet">
                            AlexNet
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioResNet" checked>
                        <label class="form-check-label" for="flexRadioResNet">
                            ResNet
                        </label>
                    </div>
                </div>
                <hr>
        
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck_showIntermediateSteps">
                    <label class="form-check-label" for="flexSwitchCheck_showIntermediateSteps">Показывать промежуточные вычисления</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheck_useLexer">
                    <label class="form-check-label" for="flexSwitchCheck_useLexer">Использовать специальный лексический анализатор</label>
                </div>
                <div class="mt-3 mb-3">
                    <button type="submit" class="btn btn-dark bg-gradient mx-auto">Отправить</button>
                </div>
            </div>
        </form>
    </div>
    
</div>
<script src="static/file_dropbox.js">
    const dropZone = document.getElementById("file_dropbox");
    if (dropZone) {
            let hoverClassName = 'hover';

            dropZone.addEventListener("dragenter", function (e) {
                e.preventDefault();
                dropZone.classList.add(hoverClassName);
            });

            dropZone.addEventListener("dragover", function (e) {
                e.preventDefault();
                dropZone.classList.add(hoverClassName);
            });

            dropZone.addEventListener("dragleave", function (e) {
                e.preventDefault();
                dropZone.classList.remove(hoverClassName);
            });

            // Это самое важное событие, событие, которое дает доступ к файлам
            dropZone.addEventListener("drop", function (e) {
                e.preventDefault();
                dropZone.classList.remove(hoverClassName);

                const files = Array.from(e.dataTransfer.files);
                console.log(files);
                let fileInputElement = document.getElementById('file_input');
                let container = new DataTransfer();
                container.items.add(files[0]);
                fileInputElement.files = container.files;
            });
        }
</script>

{% endblock %}

