{% extends "base.html" %}
{% block content %}
<div class="container row align-items-start">
        <div class="col mt-4">
            <h3>Исходное фото</h3>
            <img src="{{ url_for('download_file', filename='uploads/'+orig_filename) }}"
                class="img-fluid rounded border border-black"
                alt="...">
        </div>
        <div class="col mt-4">
            <h3>Обработанное фото</h3>
            <img src="{{ url_for('download_file', filename='results/'+result_filename) }}"
                class="img-fluid rounded border border-black"
                alt="...">
        </div>
</div>
<div class="container-fluid">
    <h1>Содержимое выходного файла
        <span>
            <button type="button" class="btn btn-dark">Скачать копию</button>
        </span>
    </h1>

    <div class="container-fluid bg-white">
        <pre id="json"></pre>
    </div>
    
</div>

<script>
    function syntaxHighlight(json) {
            if (typeof json != 'string') {
                json = JSON.stringify(json, undefined, 2);
            }
            json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
            return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
                var cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        cls = 'string';
                    }
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
            });
        }
    const data = JSON.parse({{ json| tojson }} );
    // 👉 convert JSON data to string with tab size=2
    const dataString = JSON.stringify(data, null, 2);
    console.log(data);
    // display data in pre tag
    document.getElementById("json").innerHTML = syntaxHighlight(dataString);
</script>
{% endblock %}
